.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image:linear-gradient(to bottom,#ff589f 0%,#ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-color:orange;
    background-image: linear-gradient(to bottom,#ffbb00 0%,orange 100%);
}
.cat2{
    background-color: crimson;
    background-image: linear-gradient(to bottom,#d84361 0%,crimson 100%);
}
.cat3{
    background-color: blue;
    background-image: linear-gradient(to bottom,#4343e7 0%,blue 100%);
}
.cat1,.cat2,.cat3{
    padding:10px 30px ;
    border-radius: 10px;
}
.catagoris h1{
    color: #fff;
}
.catagoris img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}
#Subscribe{
    height: 300px;
}
#Subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}